<!DOCTYPE html>
<html>
    <head>
        <title>mini posts</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="https://kit.fontawesome.com/7fade9baad.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="wrap">
            <nav>
                <a href="/write" class="plus"><i class="fas fa-plus"></i></a>
            </nav>
            <section>
				<% for(let i = 0; i<rows.length; i++) { %> 
                <article>
                    <div class="title-wrap">
                        <h2 class="title"><%= rows[i].title %></h2>                        
                        <a href="/edit?id=<%=rows[i].id%>" class="edit"><i class="far fa-edit"></i></a>
                        <a href="/delete?id=<%=rows[i].id%>" class="delete"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <div class="main-text">
                        <p>
                            <%= rows[i].contents %>
                        </p>
                    </div>                
                    <div class=""><i class="fas fa-heart like filled"></i>
                    <!-- <i class="far fa-heart like"></i> -->
                     <%= rows[i].like%></div>
				</article>
			<% } %>                 
            </section>
        </div>
    </body>
</html>
